.blocked{
  &.settings-nav-container{
    .long{
      width: 328px;
    }

    .content-container{
      padding-bottom: 10px;
    }

    .last{
      margin-top: 15px;
    }

    .nudge{
      margin-left: 26px;
    }
  }

  .form-left{
    float: left;
  }

  .form-right{
    float: right;
  }

  .header-content-height{
    height: 94px;
  }

  .check-box-row{
    width: 100%;
    float: left;
    clear: both;
  }

  .check-box-row-text{
    width: 200px !important;
  }
}