<div ng-repeat="contact in contacts" class="favs-container" ng-mouseenter="showContactActions = true" ng-mouseleave="showContactActions = false">
  <contact-circle data-contact="contact"></contact-circle>
  <div class="user-name">{{contact.firstName + ' ' + contact.lastName}}</div>
  <div class="contact-actions" ng-show="showContactActions">
    <img src="/assets/images/icons/icon_pickup.svg" ng-click="media.startAudioCall(contact);"/>
    <img src="/assets/images/icons/icon_video.svg" ng-click="media.startVideoCall(contact);"/>
    <img src="/assets/images/icons/icon_contact_more.svg" />
  </div>
</div>