<img src="/assets/images/spinner.gif" class="more-contacts-loader" ng-show="spinner"/>

<div ng-repeat="contact in contacts" class="recent-container" ng-mouseenter="showContactActions = true" ng-mouseleave="showContactActions = false">

  <contact-circle data-contact="contact"></contact-circle>
  <div class="user-name-container">
    <div class="user-name">{{contact.name | truncate:25:40:showContactActions}}</div>
    <div class="recent-details">
      <img class="recent-arrows received" src="/assets/images/icons/icon_outgoingcall.svg" ng-show="contact.type === 'received'" />
      <img class="recent-arrows missed" src="/assets/images/icons/icon_outgoingcall_red.svg" ng-show="contact.type === 'missed'" />
      <img class="recent-arrows placed" src="/assets/images/icons/icon_outgoingcall.svg" ng-show="contact.type === 'placed'" />
      <div class="phone-number">{{contact.number}}</div>
      <div class="last-called-text">{{contact.time}}</div>
    </div>
  </div>

  <div class="contact-actions" ng-show="showContactActions">
    <img src="/assets/images/icons/icon_pickup.svg" />
    <img src="/assets/images/icons/icon_video.svg"  ng-click="media.startVideoCall(contact);"/>
    <img src="/assets/images/icons/icon_contact_more.svg" />
  </div>
</div>