<div class="settings-nav-container incoming">
  <div class="content-container">
    <div class="header-message pad-bottom">{{'Incoming-HeaderMessage' | translator}}</div>
    <div class="form-label">{{'Availability' | translator}}</div>
    <select ng-model="personalAssistantData.presence" ng-change="setPersonalAssistantData()">
      <option ng-repeat="option in stateList" ng-value="option.value" ng-selected="option.value == personalAssistantData.presence">{{option.text | translator}}</option>
    </select>
  </div>
  <div class="content-container">
    <div class="form-label until">{{'Until' | translator}}</div>
    <input type="checkbox" class="until-checkbox" ng-model="personalAssistantData.enableExpirationTime" ng-change="setPersonalAssistantData()"/>
    <div class="duration-container">
      <input type="text" class="date-input" ng-model="personalAssistantData.expirationDate" ng-blur="setPersonalAssistantData()" placeholder="YYYY-MM-DD"/>
      <select class="time-select" ng-model="personalAssistantData.expirationTime" ng-change="setPersonalAssistantData()">
        <option ng-value="time" ng-repeat="time in Utility.getTimesForDropDown() track by $index">{{time}}</option>
      </select>
    </div>
  </div>
  <div class="content-container">
    <div class="form-label">{{'TransferTo' | translator}}</div>
    <input type="text" ng-model="personalAssistantData.attendantNumber" ng-blur="setPersonalAssistantData()"/>
  </div>
  <div class="content-container">
    <div class="form-label">{{'ForwardTo' | translator}}</div>
    <input type="text" ng-model="callForwardAlways" ng-blur="setCallForwardAlways()"/>
  </div>
  <div class="content-container">
    <div class="form-label mobile-number-text">{{'MobileNumber' | translator}}</div>
    <input type="checkbox" class="until-checkbox" ng-model="mobileNumberActive" ng-change="setBroadworksAnywhere()">
    <input class="" type="text" ng-model="mobileNumber" ng-blur="setBroadworksAnywhere()"/>
  </div>
  <div class="content-container last">
    <div class="form-label">{{'CallNotifyEmail' | translator}}</div>
    <input type="text" ng-model="callNotifyEmail" ng-blur="setCallNotify()"/>
  </div>
</div>
