<div class="settings-header">
  <div class="call-settings-text">Voicemail</div>
  <a ui-sref="app.header.main.favs" class="close-button">X</a>
</div>

<div ng-repeat="message in messages track by $index" class="favs-container my-voicemail" ng-mouseenter="showMessageActions = true; loadMoreContacts(telephoneContacts, $index)" ng-mouseleave="showMessageActions = false" ng-class="{'last': $last}">
  <contact-circle data-contact="message"></contact-circle>
  <div class="user-details-voicemail">
    <div class="user-name">{{message.firstName + ' ' + message.lastName}}</div>
    <div class="message-time-sent">10:23 AM</div>
  </div>
  <div class="contact-actions" ng-show="showMessageActions">
    <i class="fa fa-play play-button pseudo-button"></i>
    <i class="fa fa-stop" ng-if="false"></i>
    <img src="/assets/images/icons/icon_contact_more.svg" />
  </div>
</div>