<div class="login centered-content main-container">
  <img class="bs-logo-large" src="/assets/images/broadsoft-logo-lrg.png" />

  <form name="login">
    <div class="text-medium welcome-message">Lorem ipsum dolor sit amet consectetur Mauris posuere lobortis enim</div>
    <input ng-model="xsp" name="xsp" class="form-input" ng-class="{'textbox-error': login.email.$invalid && !login.$pristine}" ng-keyup="$event.keyCode == 13 && broadsoftLogin(login)" type="text" placeholder="XSP (https://xsp.ihs.broadsoft.com)" required/>
    <input ng-model="email" name="email" class="form-input" ng-class="{'textbox-error': login.email.$invalid && !login.$pristine}" ng-keyup="$event.keyCode == 13 && broadsoftLogin(login)" type="text" placeholder="Email or username" required/>
    <input ng-model="password" name="password" class="form-input" ng-class="{'textbox-error': login.password.$invalid && !login.$pristine}" ng-keyup="$event.keyCode == 13 && broadsoftLogin(login)" type="password" placeholder="Password" required/>
    <!--<a class="small-link" href="/#/forgotPassword">Forgot Password?</a>-->

    <div ng-show="!!errorMessage" class="error-text">
      {{errorMessage}}
    </div>

    <div class="sign-in-container">
      <a class="button-pill login-button" ng-click="broadsoftLogin(login)">Sign In</a>
      <!--<hr/><div class="or">or</div><hr/>-->
      <!--<a class="button-pill button-google" id="authorize-button" ng-click="googleAuth()">-->
        <!--<i class="fa fa-google-plus button-icon-left"></i>Sign In With Google-->
      <!--</a>-->
    </div>
  </form>
</div>
